/*
--------------------------------------------------
name: Colors
path: /css/colors.css
--------------------------------------------------
*/
{% for color in colors %}
[class^="item {{ color.name }}"] {
  background-color: {{ color.value }};
}
{% endfor %}
