/* layout *********************************************************************/

body {
	width: 95%;
	max-width: 1250px;
	margin: 0 auto;

	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;

	background-color: rgb(24, 26, 27);
	color: rgb(209, 205, 198);
}

a {
	text-decoration: none;

	color: hsla(190, 80%, 50%, 1);
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
strong {
	color: rgb(219, 217, 212);
}

code,
pre {
	background-color: rgb(29, 31, 32);
}

/* header *********************************************************************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5% 0;
}

.logo {
	display: block;
	width: 60px;
	height: 60px;
}

/* footer *********************************************************************/

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5% 0;
}

[rel="license"] img {
	display: block;
	width: 88px;
	height: 31px;
}
