/* layout *********************************************************************/

body {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;

	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;

	color: #eee;
	background-color: #222;
}

a {
	text-decoration: none;

	color: hsla(190, 80%, 50%, 1);
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
strong {
	color: #fff;
}

code,
pre {
	background-color: #333;
}

input {
	font-size: 1rem;
}

/* header *********************************************************************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5% 0;
}

.logo {
	display: block;
	width: 60px;
	height: 60px;
}

/* footer *********************************************************************/

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5% 0;
}

[rel="license"] img {
	display: block;
	width: 88px;
	height: 31px;
}
