.post .title,
.post .date {
  text-align: center;
}

.post .title {
  font-size: 2.75rem;
  margin-top: 2rem;
}

.post .date {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: var(--color-dark-500);
}

.header_link {
  visibility: hidden;
}

.post .content h2:hover .header_link,
.post .content h3:hover .header_link {
  visibility: visible;
}

.post .content h2,
.post .content h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.post .content h2 {
  font-size: 1.75rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--color-dark-600);
}

.post .content h3 {
  font-size: 1.25rem;
}

.post .content p {
  text-align: justify;
}

.post .content p,
.post .content ul,
.post .content ol {
  margin-bottom: 1rem;
}

.post .content ul,
.post .content ol {
  padding-left: 2rem;
}

.post .content li:not(:first-of-type) {
  margin-top: 0.25rem;
}

.post .content img {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.post .content a {
  text-decoration: none;
  color: var(--color-main);
}

.post .content a:hover {
  text-decoration: underline;
}

.post .content mark {
  color: var(--color-dark-800);
  background: var(--color-main);
}
