body {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  color: #eee;
  background-color: #222;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: hsla(190, 80%, 50%, 1);
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.license {
  width: 88px;
  height: 31px;
}
