---
permalink: /js/search.json
sitemap_ignore: true
---
{
  "posts": [
  {%- for entry in collections.posts %}
    {
      "url": "{{ entry.url }}",
      "title": "{{ entry.data.title | striptags }}",
      "category": "{{ entry.url | urlToCollection | collectionToCategory }}"
    }{% if loop.revindex0 != 0 %},{% endif %}
  {%- endfor %}
  ]
}
