---
layout: page
pagination:
  data: collections.post
  size: 2
permalink: "{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<ul>
  {% for post in pagination.items %}
    <li>
      <time>{{ post.date | formatDate }}</time>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      <summary>
        {{ post.templateContent | striptags(true) | truncate(280) }}
      </summary>
    </li>
  {% endfor %}
</ul>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">&larr; Previous</a>
{% endif %}

{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">Next &rarr;</a>
{% endif %}
