---
permalink: /sitemap.xml
sitemap_ignore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
{% if item.data.sitemap_ignore !== true %}
  <url>
    <loc>https://bartol.dev{{ item.url }}</loc>
    <lastmod>{{ item.date | formatDate("dash") }}</lastmod>
    <changefreq>{{ item.data.change_frequency or "daily" }}</changefreq>
    <priority>{{ item.data.sitemap_priority or "0.8" }}</priority>
  </url>
{% endif %}
{% endfor %}
</urlset>
