code[class*='language-'],
pre[class*='language-'] {
  @apply text-code-white;
  font-family: 'Dank Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.2;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin: 0 !important;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.cdata {
  @apply text-code-gray;
}

.token.punctuation {
  @apply text-code-teal;
}

.token.important,
.token.variable,
.namespace {
  @apply text-code-white;
}

.token.deleted {
  @apply text-code-red;
}

.token.class-name,
.token.atrule,
.token.tag,
.token.symbol,
.token.property {
  @apply text-code-cyan;
}

.token.operator,
.token.keyword,
.token.boolean,
.token.number {
  @apply text-code-orange;
}

.token.selector,
.token.doctype,
.token.attr-name,
.token.inserted,
.token.constant,
.token.function,
.token.builtin,
.token.char {
  @apply text-code-yellow;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.attr-value,
.token.regex,
.token.inserted {
  @apply text-code-green;
}

.token.important,
.token.bold {
  @apply font-medium;
}

.token.comment,
.token.prolog,
.token.cdata,
.token.italic,
.token.deleted,
.token.selector,
.token.doctype,
.token.attr-name,
.token.inserted {
  @apply italic;
}

.token.comment,
.token.prolog,
.token.cdata,
.token.deleted,
.token.selector,
.token.doctype,
.token.attr-name,
.token.inserted,
.token.italic {
  font-family: 'Dank Mono Italic', monospace;
}
