@import 'languages';

.gatsby-highlight {
  background-color: $code;
  border-radius: $radius;
  margin: 1rem 0;
  padding: 0.575rem 1rem calc(0.75rem - 6px) 1rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $code;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-color: $bland;
  }
}

.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
}

.gatsby-remark-code-parameters {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: calc(-1rem - 5px);
  padding: 0.5rem 1rem 0;
  background-color: $code;
  color: $text;
  position: relative;
  z-index: 0;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

:not(pre) > code[class*='language-'] {
  padding: 0.15rem 0.3rem;
  border-radius: 3px;
  color: rgba(239, 83, 80, 1);
  background-color: $code;
}

.gatsby-remark-code-language-wrapper {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  padding: 0.625rem 1rem 0 1rem;
  background-color: $code;
  border-top-right-radius: $radius;
  user-select: none;
  text-transform: uppercase;
}

.gatsby-highlight[data-language='terminal'] {
  position: relative;
  padding-top: calc(0.575rem + 32px - 0.1rem);
  background-color: $code;

  &:hover {
    > pre > code {
      &::before {
        color: $main;
      }
    }
  }

  > pre {
    &::before {
      content: 'â¯ ';
      font-size: 0.85rem;
      user-select: none;
      letter-spacing: -3px;
      color: $main;
    }
  }

  > pre > code {
    &::before {
      content: '\2219 \2219 \2219';
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      background: #1c1c1c;
      color: $parameters;
      width: 100%;
      font-size: 96px;
      line-height: 0;
      padding: 5px 0;
      text-indent: 8px;
      letter-spacing: -36px;
      transition: all 750ms ease-in;
    }
  }
}
