.tag-container-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  :last-child .tag-generic {
    margin-right: 0;
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $background;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-color: $bland;
  }
}

.spacebetween {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tag-generic {
  padding: 0.6rem 0.85rem 0.5rem 0.85rem;
  margin-right: 0.5rem;
  margin-bottom: calc(0.55rem - 6px);
  border-radius: $radius;
  border: 3px solid $parameters;
  background: transparent;
  color: $text;
  cursor: pointer;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
}

.random {
  padding: 0.6rem 0.85rem 0.5rem 0.85rem;
  border-radius: $radius;
  border: 3px solid $parameters;
  background: transparent;
  cursor: pointer;
  color: $text;
  white-space: nowrap;
  margin-left: 0.5rem;

  &:active {
    border-color: $main;
  }

  &:focus {
    outline: none;
    border-color: $main;
  }
}
