// responsive typography stuff
$min_width: 300px;
$max_width: 700px;
$min_font: 16px;
$max_font: 20px;

$mod_1: 1.2; // mobile
$mod_2: 1.45; // desktop

// colors
$main: hsla(190, 80%, 50%, 1);
$background: #212121;
$code: #2a2a2a;
$text: #e1e1e1;
$bold: #f7f7f7;
$parameters: #8c8c8c;
$bland: rgba(65, 65, 65, 0.99);

$radius: 6px;
