@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

/*          global css          */

body {
  @apply bg-gray-900 leading-normal text-gray-300;
}

/*      scrollbar      */

/* chrome & safari */
*::-webkit-scrollbar {
  width: 10px;
  @apply bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  border: 2px solid #1a202c;

  @apply bg-gray-700 rounded-full;
}

/* firefox */
* {
  scrollbar-color: #4a5568 #1a202c;
  scrollbar-width: thin;
}

.skipToArticles {
  transform: translateY(-100px);

  &:focus {
    transform: translateY(0);
  }
}

/*      utilities      */

.drag-none {
  -webkit-user-drag: none;
}

.hover\:color-main:hover {
  color: hsla(190, 80%, 50%, 1);
}

.focus\:color-main:focus {
  color: hsla(190, 80%, 50%, 1);
}

.focus\:shadow-outline-color-main:focus {
  box-shadow: 0 0 0 3px hsla(190, 80%, 50%, 1);
}

/* unused */
.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.transition {
  transition: all 0.25s;
}

.transition-slow {
  transition-duration: 0.5s;
}

.transition-slower {
  transition-duration: 0.75s;
}

.trans-fast {
  transition-duration: 0.15s;
}
