@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

/*          fonts          */

@font-face {
  font-family: 'Dank Mono';
  font-display: swap;
  src: url('../../static/fonts/DankMono/DankMono-Regular.woff2') format('woff2'),
    url('../../static/fonts/DankMono/DankMono-Regular.woff') format('woff'),
    url('../../static/fonts/DankMono/DankMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Dank Mono Italic';
  font-display: fallback;
  src: url('../../static/fonts/DankMono/DankMono-Italic.woff2') format('woff2'),
    url('../../static/fonts/DankMono/DankMono-Italic.woff') format('woff'),
    url('../../static/fonts/DankMono/DankMono-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

/*          global css          */

html {
  @apply overflow-y-scroll;
}

body {
  @apply bg-dark-800 leading-normal text-dark-200 font-sans;
}

/*      scrollbar      */

/* chrome & safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  @apply bg-dark-800;
}

*::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full border-2 border-solid border-dark-800;
}

/* firefox */
* {
  scrollbar-color: #383b40 #1f2023;
  scrollbar-width: thin;
}

/*          utilities          */

.drag-none {
  -webkit-user-drag: none;
}

.focus\:shadow-outline-dark-200:focus {
  box-shadow: 0 0 0 3px #ffffffe6; /* dark-200 */
}

.transition {
  transition: all 0.25s;
}

.transition-slow {
  transition: all 0.75s;
}

.trans-fast {
  transition: all 0.15s;
}

.link,
.markdown a {
  @apply text-main;
  transition: all 167ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    @apply py-1 px-2 rounded outline-none;
    background-color: hsla(190, 80%, 50%, 0.15);
  }

  &:active {
    background-color: hsla(190, 80%, 50%, 0.35);
  }
}
