---
permalink: /blog.xml
sitemap_ignore: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Bartol's Blog RSS</title>
  <subtitle>Stuff I write semi-regularly</subtitle>
  <link href="https://bartol.dev/blog.xml" rel="self"/>
  <link href="https://bartol.dev/"/>
  <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  <id>https://bartol.dev/</id>
  <author>
    <name>Bartol Deak</name>
    <email>b@bartol.dev</email>
  </author>
  {% for post in collections.blog %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl("https://bartol.dev/") }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {% endfor %}
</feed>
