<nav class="root">
  <h1>
    {% include "components/logo.njk" %}
  </h1>

  <section class="main">
    <div class="description">
      Hi, my name is Bartol! I'm high school student from Croatia, currently learning Rust
      programming language and building interesting programs to help in my everyday
      life. Here you can find my thoughts and notes.
    </div>

    <div class="search_wrapper">
      <input type="search" id="search" placeholder="Search" />
      <ol id="results"></ol>
    </div>
  </section>

  <div class="icons">
    <a href="https://github.com/bartol" target="_blank" rel="noopener noreferrer">
      {% include "components/github_icon.njk" %}
    </a>
    <a href="mailto:contact@bartol.dev" target="_blank" rel="noopener noreferrer">
      {% include "components/email_icon.njk" %}

    </a>
    <a href="/feed.xml" target="_blank" rel="noopener noreferrer">
      {% include "components/feed_icon.njk" %}
    </a>
  </div>
</nav>
