<nav>
{% if collection === 'root' %}

  <h1>
    <img src="/img/logo.svg" height="200" />
  </h1>

{% else %}

  <h1>
    <img src="/img/logo.svg" height="50" />
  </h1>
  <div>
    <input type="search" id="search" />
    <ol id="results" />
  </div>

{% endif %}
</nav>
