{% if collection === 'root' %}

  <nav class="root">
    <h1>
      {% include "components/logo.njk" %}
    </h1>
  </nav>

{% else %}

  <nav class="normal">
    <h1>
      <a href="/">
        {% include "components/logo.njk" %}
      </a>
    </h1>
    <div>
      <input type="search" id="search" placeholder="Search" />
      <!-- <ol id="results" /> -->
    </div>
    <div class="icons">
      <a href="https://github.com/bartol" target="_blank" rel="nofollow noopener noreferrer" class="first_icon">
        {% include "components/github.njk" %}
      </a>
      <a href="/feed.xml" target="_blank" rel="nofollow noopener noreferrer">
        {% include "components/feed.njk" %}
      </a>
    </div>
  </nav>

{% endif %}
