<nav class="normal">
  <h1>
    <a href="/">
      {% include "components/logo.njk" %}
    </a>
  </h1>

  <div class="search_wrapper">
    <input type="search" id="search" placeholder="Search" />
    <ol id="results"></ol>
  </div>

  <input type="checkbox" role="button" id="menu" />
  <label for="menu" class="menu_icon">
    {% include "components/logo.njk" %}
  </label>

  <div class="icons">
    <a href="https://github.com/bartol" target="_blank" rel="noopener noreferrer">
      {% include "components/github_icon.njk" %}
    </a>
    <a href="mailto:b@bartol.dev" target="_blank" rel="noopener noreferrer" class="icon_with_margin">
      {% include "components/email_icon.njk" %}
    </a>
    <a href="/feed.xml" target="_blank" rel="noopener noreferrer">
      {% include "components/feed_icon.njk" %}
    </a>
  </div>
</nav>
