$var title: Bartol Deak

<h1>Bartol Deak</h1>

<h2>About</h2>
<p>
  Hi, my name is Bartol and I enjoy programming.
  This website contains my knowledge base and some useful utilities.
  There is no questionable privacy-invading software installed on website.
  It's just simple Python web.py app rendering markdown posts behind Nginx reverse proxy.
  You can contact me via <a href="mailto:b@bartol.dev">email</a>.
  You can view my <a href="https://git.bartol.dev/dotfiles">dotfiles</a>,
  <a href="https://git.bartol.dev/scripts">scripts</a>,
  <a href="https://git.bartol.dev/amadeus2.hr">webshop</a> or
  this website <a href="https://git.bartol.dev/bartol.dev">source</a>.
</p>
