$def with (title, posts)
$if title != 'memory/':
  $var title: $title :: Memory :: Bartol Deak
$else:
  $var title: Memory :: Bartol Deak

<h1>$title</h1>
<input type="text" placeholder="search" class="input">

$def tree(posts):
  $for post in posts:
    <li>
      <a href="$post['path']">$post['title']</a>
      $if post['children']:
        <ul class="list">
          $:tree(post['children'])
        </ul>
    </li>

<ul class="tree list">
  $:tree(posts)
</ul>

<ul class="results list"></ul>

<script src="https://unpkg.com/fuzzysort@1.1.4/fuzzysort.js" defer></script>
<script src="/static/js/memory_list.js" defer></script>