---
title: Bartol's blog
short_title: Bartol's blog
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}{% if title !== short_title %} :: {{ short_title }}{% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
  </head>
  <body>
    <div class="content">
      {{ content | safe }}
    </div>
    <div class="sidebar">
      <a href="/">
        <img src="/files/logo.svg" alt="Bartol's logo" class="logo" />
      </a>

      <a href="/posts/">Posts</a>
      <a href="/snippets/">Snippets</a>

      <form action="https://www.google.com/search" method="get" class="search">
        <input type="hidden" name="q" value="site:bartol.dev">
        <input type="text" name="q">
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
