$def with (title, posts)
$if title != 'wiki/':
  $var title: $title : wiki : Bartol Deak
$else:
  $var title: wiki : Bartol Deak

<div class="input_wrapper">
  <h1>$title</h1>
  <input type="text" placeholder="search" class="input">
</div>

$def tree(posts):
  $for post in posts:
    <li>
      <a href="$post['path']">$post['title']</a>
      $if post['children']:
        <ul>
          $:tree(post['children'])
        </ul>
    </li>

<ul class="tree">
  $:tree(posts)
</ul>

<ul class="results"></ul>

<script src="https://unpkg.com/fuzzysort@1.1.4/fuzzysort.js" defer></script>
<script src="/static/js/wiki_list.js" defer></script>
