$def with (path, posts)
$if path:
  $var title: $path | Bartol Deak
$else:
  $var title: Bartol Deak

<h1>Bartol Deak</h1>

<h2>About</h2>
<p>
  Hi, my name is Bartol and I enjoy programming.
  This website contains my knowledge base and some useful utilities.
  All content and website <a href="https://git.bartol.dev/bartol.dev">source</a> is under
  <a href="https://en.wikipedia.org/wiki/BSD_licenses#0-clause_license_(%22Zero_Clause_BSD%22)">BSD license</a>.
  There is no questionable privacy invading software installed on website.
  It's just simple Python http server serving files and rendering markdown.
  You can contact me via <a href="mailto:b@bartol.dev">email</a>.
  You can view my <a href="https://git.bartol.dev/dotfiles">dotfiles</a>,
  <a href="https://git.bartol.dev/scripts">scripts</a> or
  <a href="https://git.bartol.dev/amadeus2.hr">webshop</a> that I'm currently building.
</p>

<h2>Memory</h2>

$def tree(posts):
  $for post in posts:
    <li>
      <a href="$post['path']">$post['title']</a>
      $if post['children']:
        <ul>
          $:tree(post['children'])
        </ul>
    </li>

<ul class="tree">
  $:tree(posts)
</ul>
