---
title: Bartol Deak
root: false
collection: root
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- inline minified css -->
    {% set css %}
      {% include "css/index.css" %}
      {% include "css/fonts.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    <!-- inline minified js -->
   {% set js %}
     {% include "js/index.js" %}
   {% endset %}
   <script>
     {{ js | jsmin | safe }}
   </script>

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
