---
layout: page
collection: root
---

{% if collection === 'root' %}

  {% include "components/banner.njk" %}

{% else %}

  {% include "components/nav.njk" %}
  {% include "components/breadcrumbs.njk" %}

{% endif %}

<ul class="items">
  {%- for item in collections[collection] | sortList(sort, collections) -%}
    <li>
      <a href="{{ item.url }}" class="item {{ item.url | urlToCollection(item.data.layout) }}">
        <h2>{{ item.data.title }}</h2>

        <h3>
          {% if collections[item.data.collection] %}

            {{ collections | get_length(item.data.collection) }}

          {% else %}

            Last updated in {{ item.date | formatDate }}

          {% endif %}
        </h3>
      </a>
    </li>
  {%- endfor -%}
</ul>
