---
layout: page
collection: root
---
{% if collection === 'root' %}
is root
{% endif %}

{% include "components/nav.njk" %}

<ul class="items">
  {%- for post in collections[collection] | sortList(sort) -%}
    <li>
      <a href="{{ post.url }}" class="item {{ collection }}">
        <h2>{{ post.data.title }}</h2>

        <h3>
          {% if collections[post.data.collection] %}

            {{ collections | getLength(post.data.collection) }}

          {% else %}

            Last updated in {{ post.date | formatDate }}

          {% endif %}
        </h3>
      </a>
    </li>
  {%- endfor -%}
</ul>
