---
title: Bartol's personal cyberspace
default_title: Bartol's personal cyberspace
description: Personal cyberspace where you can find my thoughts and notes mostly about web development. Updated daily.
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ title }}{% if title !== default_title %} :: {{ default_title }}{% endif %}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="image" content="https://colors.bartol.dev/?hex={{ page.url | urlToCollection(layout) | collection_to_color }}" />
    <meta name="generator" content="Eleventy" />

    <!-- preload fonts -->
    <link rel="preload" href="/fonts/Dank_Mono_Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Dank_Mono_Italic.woff2" as="font" type="font/woff2" crossorigin>

    <!-- inline css -->
    {% set css %}
{% include "css/reset.css" %}
{% include "css/index.css" %}
{% if layout === "post" %}{% include "css/markdown.css" %}{% endif %}
{% if layout === "post" %}{% include "css/code.css" %}{% endif %}
{% if layout === "list" %}{% include "css/colors.njk" %}{% endif %}
    {% endset %}
    <style>
      {{ css | safe }}
    </style>

    <!-- icons -->
    <link rel="shortcut icon" href="/img/icons/icon-48x48.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#1F2023" />
    <link rel="apple-touch-icon" sizes="48x48" href="/img/icons/icon-48x48.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="96x96" href="/img/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" sizes="256x256" href="/img/icons/icon-256x256.png" />
    <link rel="apple-touch-icon" sizes="384x384" href="/img/icons/icon-384x384.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/img/icons/icon-512x512.png" />

    <!-- social media cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bartol.dev{{ page.url }}" />
    <meta name="twitter:creator" content="@BartolDeak" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="https://colors.bartol.dev/?hex={{ page.url | urlToCollection(layout) | collection_to_color }}" />

    <meta property="og:url" content="https://bartol.dev{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://colors.bartol.dev/?hex={{ page.url | urlToCollection(layout) | collection_to_color }}" />

    <!-- sitemap -->
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" />

    <!-- feed -->
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Bartol's personal cyberspace RSS Feed"
      href="/feed.xml"
    />
  </head>
  <body class="{{ layout }}">
    <noscript>
      Hey, seems like you are not using JavaScript. That's okay. Everything except search should work as expected.
    </noscript>

    {{ content | safe }}

    {% set js %}
{% include "js/modules/fuse.js" %}
{% include "js/search.js" %}
{% include "js/message.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>
  </body>
</html>
