---
layout: page
date: Created
---
{% include "components/nav.njk" %}
{% include "components/breadcrumbs.njk" %}

<h1 class="title">{{ title }}</h1>
<h2 class="date">Last update in {{ page.date | formatDate }}</h2>

<main class="content">
  {% if draft %}
    <div class="draft">
      {% include "components/draft_icon.njk" %}
      <div class="draft_message">
        This post is in draft stage. You can help me finish it on
        <a href="https://github.com/bartol/bartol.dev/blob/master/{{ page.inputPath }}">GitHub</a>.
      </div>
    </div>
  {% endif %}

  {{ content | safe }}
</main>
