---
layout: page
date: Created
---
{% include "components/nav.njk" %}
{% include "components/breadcrumbs.njk" %}

<h1 class="title">{{ title }}</h1>
<h2 class="date">Last updated in {{ page.date | formatDate }}</h2>

<main class="content">
  {% if draft %}
  is draft
  {% endif %}

  {{ content | safe }}
</main>
